name: Playwright Tests
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install chromium --with-deps
    - name: Run linter
      run: npm run lint
    - name: Run Playwright tests
      env:
        TESTS_USER_EMAIL: ${{ secrets.TESTS_USER_EMAIL }}
        TESTS_USER_PASSWORD: ${{ secrets.TESTS_USER_PASSWORD }}
        TESTS_USER_NAME: ${{ secrets.TESTS_USER_NAME }}
      run: npx playwright test
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: frontend/playwright-report/
        retention-days: 30
